In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data={
    "father": [65,63,67,64,68,62,70,66,68,67,69,71],
    "son":[68,66,68,65,69,66,68,65,71,67,68,70]
}
X=pd.DataFrame(data)
X.head(5)
X_mean=X["father"].mean()
print("the fathers mean",X_mean)
Y_mean=X["son"].mean()
print("the sons mean",Y_mean)


X.head(5)
# X.append({"father":25,"son":29})
# Add a new sample at the end using loc
X.loc[len(X)] = [25, 29]

# Alternatively, you can use iloc for the same purpose:
# X.iloc[len(X)] = [25, 29]

X.head(20)

the fathers mean 66.66666666666667
the sons mean 67.58333333333333

    father  son
0       65   68
1       63   66
2       67   68
3       64   65
4       68   69
5       62   66
6       70   68
7       66   65
8       68   71
9       67   67
10      69   68
11      71   70
12      25   29

In [2]:
beta_1 = (sum(X["father"] * X["son"]) - len(X["father"]) * X_mean * Y_mean) / (sum(X["father"] ** 2) - len(X["father"]) * X_mean ** 2)
print(beta_1)

1.0014577693154416